<!doctype html>

<html>
<head>
	<title>SCMOTC</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="css/scmotc.css">
      <link rel="stylesheet" type="text/css" href="css/sidebar.css">
      <script src="/js/d3.js" charset="utf-8"></script>
      <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
</head>

<body>
  <header class="navbar navbar-static-top" id="top" role="banner">
    <div class="row">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="../" class="navbar-brand"><strong>SCMOTC</strong></a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <form class="navbar-form navbar-right" style="margin-right:0px">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username" id="username">
              <input type="password" class="form-control" placeholder="Password" id="password">
            </div>
            <button type="button" class="btn btn-default btn-sm" id="loginID"><strong>Log In</strong></button>
            <a href="register">
              <button type="register" class="btn btn-success btn-sm"><strong>Register</strong></button>
            </a>
          </form>
          
        </nav>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-9" role="main">
        <form role="form">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="name_first" placeholder="First Name">
              <input type="text" class="form-control" id="name_middle" placeholder="Middle Name">
              <input type="text" class="form-control" id="name_last" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
            <!-- <label for="name_middle">Middle Name</label> -->
            
          </div>
          <div class="form-group">
            
          </div>
          <div class="form-group">
            <input type="address" class="form-control" id="address" placeholder="Address">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="city" placeholder="City">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" id="zipcode" placeholder="Zipcode">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="county" placeholder="County">
          </div>
          <div class="form-group">
            <label for="relation" class="form-control" id="relation">Are you or anyone in your immediate family a member of the Southern California Mothers of Twins Clubs, Inc.</label>
            <span class="input-group-addon"><input type="checkbox"></span>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="userEmail" placeholder="Enter email">
          </div>
        </form>
        <!-- <nav class="navbar navbar-default navbar-static-top" role="navigation"> -->

          
          <div class="input-group" style="width:100%">
            {{#each form-field}}

              {{#if section-header}}
                <!-- Section Header -->
                <h2 class="section-header" id="{{id}}">{{header}}</h2>
              {{/if}}

              {{#if subsection-header}}
                <!-- Sub Section Header -->
                <div>
                  <h4 class="subsection-header">{{header}}</h4>
              </div>
              {{/if}}

              {{#if minisection-header}}
                <!-- Sub Section Header -->
                {{#each instruction}}
                <div class="col-xs-4">
                  <h4 class="subsection-header">{{this}}</h4>
                </div>
                {{/each}}
              {{/if}}
            
              <!-- Radio -->
              {{#if textarea}}
                <textarea class="form-control" rows="3">{{placeholder}}</textarea>
              {{/if}}

              <!--one line text input-->
              {{#if textLine}}
                <div> 
                  <input type="text" class="form-control" placeholder="{{response}}">
                  </input>
                </div>
                <br>
              {{/if}}

              <!--telephone numbers-->
              {{#if telephone}}
                <div> 
                  <input type="tel" class="form-control" placeholder="{{response}}">
                  </input>
                </div>
                <br>
              {{/if}}

              <!--date input-->
              {{#if date}}
                <div> 
                  <input type="date" class="form-control" placeholder="{{response}}">
                  </input>
                </div>
                <br>
              {{/if}}

              <!--email-->
              {{#if email}}
                <div> 
                  <input type="email" class="form-control" placeholder="{{response}}">
                  </input>
                </div>
                <br>
              {{/if}}

              <!--number-->
              {{#if number}}
                <div> 
                  <input type="number" class="form-control" placeholder="{{response}}">
                  </input>
                </div>
                <br>
              {{/if}}

              <!--Produces 3 inline textboxes-->
              {{#if inlineText}}
                {{#each textbox}}
                <div class="col-xs-4">
                  <!--{{#if instruction}}
                    <h6 class="section-header">{{display}}</h6>
                  {{/if}}-->
                  <input type="text" class="form-control" placeholder= "{{this}}">
                  </input>
                </div>
                {{/each}}
                <br>
              {{/if}}

              <!--Checkboxes-->
              {{#if checkbox}}
                {{#each box}}
                  <input type="checkbox" class="form-control" > {{this}}
                  </input>
                {{/each}}
                <br>
              {{/if}}

              {{#if btn}}
                <!-- button -->
                <div class="form-field" id="{{id}}">

                  <span>
                  <h4>{{title}}
                  
                  {{#each response}}
                    <div type="{{email}}" class="{{../input-type}}">{{this}}</div>
                  {{/each}}
                  </h4>
                  </span>
                </div>
              {{/if}}
              <!-- Input Field -->
              <!-- Radio -->
            <br>
            {{/each}}
          </div>

          <!--
          <div class="alert alert-success">
            Well done! You successfully read this important alert message.
          </div>
      
          <form role="form">
            <div class="form-group">
              <label for="userEmail">Email address</label>
              <input type="email" class="form-control" id="userEmail" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputFile">File input</label>
              <input type="file" id="exampleInputFile">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Check me out
              </label>
            </div>
            <button id="newProjectSubmitButton" type="button" class="btn btn-default">Submit</button>
          </form>
          
          <span>
            <div class="input-group">


            
            </div>
            
          </span> -->
        <!-- </nav>  -->
      </div>
      <div class="col-md-3">
          <div class="scmotc-docs-sidebar hidden-print" role="complementary">
            <ul class="nav scmotc-docs-sidenav">
              {{#each form-field}}
                {{#if section-header}}
                  <li>
                    <a href="#{{../id}}">{{header}}</a>
                  </li>
                {{/if}}
              {{/each}}
              <!--
              <li>
                <a href="#glyphicons">Glyphicons</a>
                <ul class="nav">
                  <li><a href="#glyphicons-glyphs">Available glyphs</a></li>
                  <li><a href="#glyphicons-how-to-use">How to use</a></li>
                  <li><a href="#glyphicons-examples">Examples</a></li>
                </ul>
              </li>
              <li>
                <a href="#dropdowns">Dropdowns</a>
                <ul class="nav">
                  <li><a href="#dropdowns-example">Example</a></li>
                  <li><a href="#dropdowns-alignment">Alignment options</a></li>
                  <li><a href="#dropdowns-headers">Headers</a></li>
                  <li><a href="#dropdowns-disabled">Disabled menu items</a></li>
                </ul>
              </li>
              <li>
                <a href="#btn-groups">Button groups</a>
                <ul class="nav">
                  <li><a href="#btn-groups-single">Basic example</a></li>
                  <li><a href="#btn-groups-toolbar">Button toolbar</a></li>
                  <li><a href="#btn-groups-sizing">Sizing</a></li>
                  <li><a href="#btn-groups-nested">Nesting</a></li>
                  <li><a href="#btn-groups-vertical">Vertical variation</a></li>
                  <li><a href="#btn-groups-justified">Justified link variation</a></li>
                </ul>
              </li>
              <li>
                <a href="#btn-dropdowns">Button dropdowns</a>
                <ul class="nav">
                  <li><a href="#btn-dropdowns-single">Single button dropdowns</a></li>
                  <li><a href="#btn-dropdowns-split">Split button dropdowns</a></li>
                  <li><a href="#btn-dropdowns-sizing">Sizing</a></li>
                  <li><a href="#btn-dropdowns-dropup">Dropup variation</a></li>
                </ul>
              </li>
              <li>
                <a href="#input-groups">Input groups</a>
                <ul class="nav">
                  <li><a href="#input-groups-basic">Basic example</a></li>
                  <li><a href="#input-groups-sizing">Sizing</a></li>
                  <li><a href="#input-groups-checkboxes-radios">Checkbox and radios addons</a></li>
                  <li><a href="#input-groups-buttons">Button addons</a></li>
                  <li><a href="#input-groups-buttons-dropdowns">Buttons with dropdowns</a></li>
                  <li><a href="#input-groups-buttons-segmented">Segmented buttons</a></li>
                </ul>
              </li>
              <li>
                <a href="#nav">Navs</a>
                <ul class="nav">
                  <li><a href="#nav-tabs">Tabs</a></li>
                  <li><a href="#nav-pills">Pills</a></li>
                  <li><a href="#nav-justified">Justified nav</a></li>
                  <li><a href="#nav-disabled-links">Disabled links</a></li>
                  <li><a href="#nav-dropdowns">Using dropdowns</a></li>
                </ul>
              </li>
              <li>
                <a href="#navbar">Navbar</a>
                <ul class="nav">
                  <li><a href="#navbar-default">Default navbar</a></li>
                  <li><a href="#navbar-forms">Forms</a></li>
                  <li><a href="#navbar-buttons">Buttons</a></li>
                  <li><a href="#navbar-text">Text</a></li>
                  <li><a href="#navbar-links">Non-nav links</a></li>
                  <li><a href="#navbar-component-alignment">Component alignment</a></li>
                  <li><a href="#navbar-fixed-top">Fixed to top</a></li>
                  <li><a href="#navbar-fixed-bottom">Fixed to bottom</a></li>
                  <li><a href="#navbar-static-top">Static top</a></li>
                  <li><a href="#navbar-inverted">Inverted navbar</a></li>
                </ul>
              </li>
              <li><a href="#breadcrumbs">Breadcrumbs</a></li>
              <li>
                <a href="#pagination">Pagination</a>
                <ul class="nav">
                  <li><a href="#pagination-default">Default pagination</a></li>
                  <li><a href="#pagination-pager">Pager</a></li>
                </ul>
              </li>
              <li><a href="#labels">Labels</a></li>
              <li><a href="#badges">Badges</a></li>
              <li><a href="#jumbotron">Jumbotron</a></li>
              <li><a href="#page-header">Page header</a></li>
              <li>
                <a href="#thumbnails">Thumbnails</a>
                <ul class="nav">
                  <li><a href="#thumbnails-default">Default example</a></li>
                  <li><a href="#thumbnails-custom-content">Custom content</a></li>
                </ul>
              </li>
              <li>
                <a href="#alerts">Alerts</a>
                <ul class="nav">
                  <li><a href="#alerts-examples">Examples</a></li>
                  <li><a href="#alerts-dismissable">Dismissable alerts</a></li>
                  <li><a href="#alerts-links">Links in alerts</a></li>
                </ul>
              </li>
              <li>
                <a href="#progress">Progress bars</a>
                <ul class="nav">
                  <li><a href="#progress-basic">Basic example</a></li>
                  <li><a href="#progress-label">With label</a></li>
                  <li><a href="#progress-alternatives">Contextual alternatives</a></li>
                  <li><a href="#progress-striped">Striped</a></li>
                  <li><a href="#progress-animated">Animated</a></li>
                  <li><a href="#progress-stacked">Stacked</a></li>
                </ul>
              </li>
              <li>
                <a href="#media">Media object</a>
                <ul class="nav">
                  <li><a href="#media-default">Default media</a></li>
                  <li><a href="#media-list">Media list</a></li>
                </ul>
              </li>
              <li>
                <a href="#list-group">List group</a>
                <ul class="nav">
                  <li><a href="#list-group-basic">Basic example</a></li>
                  <li><a href="#list-group-badges">Badges</a></li>
                  <li><a href="#list-group-linked">Linked items</a></li>
                  <li><a href="#list-group-contextual-classes">Contextual classes</a></li>
                  <li><a href="#list-group-custom-content">Custom content</a></li>
                </ul>
              </li>
              <li>
                <a href="#panels">Panels</a>
                <ul class="nav">
                  <li><a href="#panels-basic">Basic example</a></li>
                  <li><a href="#panels-heading">Panel with heading</a></li>
                  <li><a href="#panels-alternatives">Contextual alternatives</a></li>
                  <li><a href="#panels-tables">With tables</a>
                  <li><a href="#panels-list-group">With list groups</a>
                </ul>
              </li>
              <li><a href="#wells">Wells</a></li>
              -->
            <a class="back-to-top" href="#top">
              Back to top
            </a>
            </ul>
          </div>
        </div>
    </div>
  </div>

   


      <!-- <div class="container">
      	<h1>Southern California Mothers of Twins Club, Inc.</h1>
        

        <form role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile">
            <p class="help-block">Example block-level help text here.</p>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Check me out
            </label>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <form class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword2">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-default">Sign in</button>
        </form>

        <address>
          <strong>Twitter, Inc.</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>

        <address>
          <strong>Full Name</strong><br>
          <a href="mailto:#">first.last@example.com</a>
        </address>
             <a href="/routes/application"></a>
    </div> -->

   

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/scmotc.js"></script>
</body>
</html>
